/* google fonts import  */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sarabun:wght@300&display=swap');

/* variables */
:root {
    --font1: 'Kaushan Script', cursive;
    --font2: 'Sarabun', sans-serif;
}

/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* body */
body {
    min-height: 100vh;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(29, 26, 26);
}

/* header */
header {
    padding: 1% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.cart-container li {
    margin-bottom: 2%;
}

.logo {
    width: 150px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    pointer-events: none;
}

#logo-img {
    position: absolute;
    width: 30px;
    height: 100%;
    object-fit: contain;
}

.logo h1 {
    position: absolute;
    font-family: var(--font1);
    font-size: 20px;
    right: 5%;
}

/* header - nav */
header nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font2);
    font-weight: bold;
}

header nav a {
    text-decoration: none;
    color: black;
}

/* header - cart */
.cart-icon {
    /* position: relative; */
    padding: 2%;
    width: 100px;
    display: flex;
}

.cart-icon img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
}

.items-count {
    font-family: var(--font2);
    font-weight: bold;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

/* main */
main {
    margin: 0 5%;
}

main > section {
    min-height: calc(100vh - 65px);
    /* margin-top: 5%; */
}

section.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

section.intro article:first-child {
    display: flex;
    align-items: center;
    height: 50vh;
}

.intro img {
    width: 200px;
    height: 200px;
}

.intro h1 {
    font-family: var(--font1);
    font-size: 45px;
}

.intro p {
    font-family: var(--font2);
    font-size: 25px;
}

#get-started-btn {
    margin-top: 3%;
    font-family: var(--font2);
    padding: 1.5% 4%;
    border: 1px solid black;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    animation: wiggle 1s infinite;
    transition: 1s;
    cursor: pointer;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(6deg);
    }

    75% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.intro a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

/* create section */
.create {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create h1 {
    font-family: var(--font1);
    text-align: center;
    font-size: 35px;
    margin-bottom: 2%;
}

.create .how-to {
    font-family: var(--font2);
}

.how-to p {
    margin-bottom: 1%;
}

.create-container {
    /* border: 1px solid red; */
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-container h3 {
    font-family: var(--font2);
    font-size: 30px;
    margin: 2% 0;
}

.create-form-container {
    /* border: 1px solid red; */
    width: 70%;
    height: 100%;
    position: relative;
}

.form-container {
    margin: 2% 0;
    font-family: var(--font2);
}

form p {
    font-size: 30px;
    margin-bottom: 3%;
} 

/* footer */
footer {
    padding: 2%;
    text-align: center;
    height: 150px;
}

#from {
    font-family: var(--font2);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.795);
}

#mark {
    font-family: var(--font1);
}